@{
    ViewData["Title"] = "Contact Us!";
}

<div class="row">
    <div class="col-sm-8">
        <h2>XYZ Detective Agency</h2>
        <h3>Headquarters</h3>
        <address>
            One Sleuthton Ave<br />
            Traverse City, MI 49696<br />
            <abbr title="Phone">P:</abbr>
            800.555.1111
        </address>
    </div>
    <img src="~/Images/spying.jpg" alt="telescope on deck" class="rounded-circle col-sm-4" />
    <div class="list-group list-group-horizontal">
       <i class="fa fa-envelope list-group-item list-group-item-action list-group-item-warning"></i>
        <a href="mailto:us@xyzdetectives.org" class="list-group-item list-group-item-action list-group-item-success">United States</a>
        <a href="mailto:europe@xyzdetectives.org" class="list-group-item list-group-item-action list-group-item-dark">Europe</a>
        <a href="mailto:africa@xyzdetectives.org" class="list-group-item list-group-item-action list-group-item-success">Africa</a>
        <a href="mailto:austrailia@xyzdetectives.org" class="list-group-item list-group-item-action list-group-item-dark">Austrailia</a>
    </div>
</div>